body {
    background-color: goldenrod;
    font-family: 'Poppins', sans-serif;
}

a {
    color: rgb(201, 211, 235);
}

.weather-app {
    background: white;
    max-width: 600px;
    margin: 30px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    padding: 30px;
    border-radius: 16px;

    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.6);
}

header {
    border-bottom: 1px solid rgb(207, 205, 205);
    padding: 0 0 30px 0;

}

main {
    padding: 30px 0;
}

.search-form-input {
    background-color: #f0efef;
    border: none;
    border-radius: 6px;
    width: 80%;
    font-size: 16px;
    padding: 15px 20px;
}

.search-form-button {
    background-color: rgb(210, 208, 203);
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    margin-left: 5px;
    border-radius: 6px;
    color: white;
}

.weather-app-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.weather-app-city {
    margin: 0;
    font-size: 40px;
    line-height: 50px;
}

.weather-app-details {
    font-size: 16px;
    color: rgba(39, 33, 66, 0.4);
    line-height: 20px;
    font-weight: 500;
}

.weather-app-details strong {
    color: rgb(163, 154, 132);
}

.weather-app-temperature-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.weather-app-icon {
    font-size: 70px;
    margin-top: 22px;
}

.weather-app-temperature {
    font-size: 75px;
    margin-left: 10px;
    font-weight: bold;
}

.weather-app-unit {
    margin-top: 16px;
   font-size: 28px;
}

.forecast-container {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
}

.weather-forecast {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}


.weather-forecast-day {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px;
  min-width: 100px;
  flex: 0 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  text-align: center;
}



.weather-forecast-date {
    font-size: 16px;
    opacity: 0.6;
}

.weather-forecast-temperature {
    font-size: 13px
}

.weather-forecast-temperature-min {
    opacity: 0.5;
}

.weather-forecast-icon {
  width: 50px;
  height: 50px;
  margin: 10px auto;
}

/* Wraps the current day's weather nicely */
.current-weather-container {
  margin-bottom: 30px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}

footer {
    border-top: 1px solid rgb(207, 205, 205);
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 600px) {
  .weather-forecast {
    flex-direction: column;
    align-items: center;
  }

  .weather-forecast-day {
    width: 80%;
  }
}
